<p id="notice"><%= notice %></p>
<div class="container">
        <div class="row">
  <div class="col-lg-10 mt-5 mb-5 mx-auto">
    <h2 class="page_title col-lg-6 offset-lg-4">VirtualStorageとは</h2>
  	<div class="about_text_box">
	  	<p>さまざまな物を管理するサービスです。<br>
		  「どこに」「何を」しまっているのかを把握することができます。<br>
		  また、仮想の収納ゆえに宿題やタスクなどといった物も管理することができます。</p>
  	</div>
    <div class="cloud_box mt-5 mx-auto">
		<h4>日々の生活の中で、こんな困りごとありませんか？</h4>
		<ul>
			<li>道具や服といった物をどこに締まったか分からなくなってしまった...</li>
			<li>本の続きが気になるのに何巻まで購入したか分からない...</li>
			<li>外出先で献立を考えたとき、家にどんな食材があるか分からないため何を買えばいいか分からない...</li>
			<li>課題やタスクを管理できるようにしたい...</li>
		</ul>
	  </div>
	  <h4 class="mt-5">このサイトはそんなお悩みをすべて解決することで<br>あなたの生活の悩みを「少しでもラクに...!」をお手伝いします。</h4>
	  <hr>
	</div>


        <div class="about-item col-lg-10 mx-auto">

          <h3 class="subtitle">VirtualStorageのポイント</h3>
          <div class=" d-flex ">

          <div class="about-point mt-5">
            <p class="about-item_name">Point</p><p class="about-item_number">01</p>
            <div class="about-item_right">
              <p class="about-item_catch">身の回りの道具の管理</p>
              <p class="about-item_text">
                読みたい本があるのに、どこに収納してしまったか分からない、今から出かけるのに、夏服が見つからない...<br>
                この様になってしまった場合、せっかくの休みの日の大事な時間を失いストレスの原因に...。<br>
                このサイトで管理することで何処にあるかを把握することができ、大事な休みの日を幸せに過ごすことができます。
              </p>
            </div>
          </div>

          <div class="about-point mt-5">
            <p class="about-item_name">Point</p><p class="about-item_number">02</p>
            <div class="about-item_right">
              <p class="about-item_catch">道具の楽々検索</p>
              <p class="about-item_text">
                道具の「名前」「タグ」「収納場所」のいずれかを検索することで、あっという間に見つけることができ、<br>
                捜す手間を省くことができます。
              </p>
            </div>
          </div>

          <div class="about-point mt-5">
            <p class="about-item_name">Point</p><p class="about-item_number">03</p>
            <div class="about-item_right">
              <p class="about-item_catch">シンプルゆえに何でもできる</p>
              <p class="about-item_text">
                このサイトは、身の回りの道具を管理する機能とそれらを検索する機能のみのシンプルなサイトです。<br>
                それゆえに、道具の管理しか使うことができない...そんなことはありません！！<br>
                食材などといった物を管理することで、外出先でも献立を考えることができる。<br>
                タスクや宿題を管理することで、抜けをなくすことができる。<br>
                このような用途の他にも様々な用途に「シンプル」ゆえに使うことができます。<br>
                このサイトは、そんなあなたの痒い所に手が届くサイトです。
              </p>
            </div>
          </div>

          </div>
        </div>
      <div>
    </div></div></div>